<!-- MTracker simulator node launch file. -->
<launch>
  <param name="controls_topic" type="string" value="controls"/>
  <param name="joy_topic" type="string" value="joy"/>
  <param name="keys_topic" type="string" value="keys"/>

  <node name="manual_controller" pkg="mtracker" type="manual_controller" respawn="false" required="true" output="screen">
    <param name="linear_gain" value="0.1"/>
    <param name="angular_gain" value="0.2"/>
  </node>
</launch>
