<!-- MTracker simulator with manual controller launch file. -->
<launch>
  <param name="loop_rate" value="100"/>
  <param name="controls_topic" type="string" value="controls"/>
  <param name="joy_topic" type="string" value="joy"/>
  <param name="keys_topic" type="string" value="keys"/>
  <param name="odom_pose_topic" type="string" value="odom_pose"/>
  <param name="odom_velocity_topic" type="string" value="odom_velocity"/>

  <node name="joy" pkg="joy" type="joy_node" respawn="false" required="true" output="screen">
    <param name="dev" type="string" value="/dev/input/js0"/>
    <param name="deadzone" value="0.0"/>
    <param name="autorepeat_rate" value="100"/>
  </node>

  <node name="manual_controller" pkg="mtracker" type="manual_controller" respawn="false" required="true" output="screen">
    <param name="linear_gain" value="0.4"/>
    <param name="angular_gain" value="1.5"/>
  </node>

  <node name="mtracker" pkg="mtracker" type="mtracker" respawn="false" required="true" output="screen">
    <!-- Here put some parameters... -->
  </node>

  <node name="rviz" pkg="rviz" type="rviz" respawn="false" required="true" output="screen" args="-d $(find mtracker)/resources/mtracker.rviz"/>
</launch>
