<!-- MTracker simulator launch file. -->
<launch>
  <node pkg="mtracker" type="simulator" name="simulator"/>
  
  <node pkg="mtracker" type="reference_generator" name="reference_generator"/>
  
  <node pkg="mtracker" type="automatic_controller" name="automatic_controller"/>
  
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find mtracker)/resources/mtracker.rviz"/>
</launch>
