<!-- MTracker simulator with manual controller -->
<launch>
  <param name="loop_rate" value="100"/>
  <param name="joy_topic" type="string" value="joy"/>
  <param name="keys_topic" type="string" value="keys"/>
  <param name="controls_topic" type="string" value="controls"/>
  <param name="scaled_controls_topic" type="string" value="scaled_controls"/>
  <param name="virtual_pose_topic" type="string" value="virtual_pose"/>
  <param name="virtual_velocity_topic" type="string" value="virtual_velocity"/>

  <node name="joy" pkg="joy" type="joy_node" respawn="false" required="true" output="screen">
    <param name="dev" type="string" value="/dev/input/js0"/>
    <param name="deadzone" value="0.05"/>
    <param name="autorepeat_rate" value="0"/>
    <param name="coalesce_interval" value="0.001"/>
  </node>

  <node name="manual_controller" pkg="mtracker" type="manual_controller" respawn="false" required="true" output="screen">
    <param name="linear_gain" value="0.4"/>
    <param name="angular_gain" value="1.5"/>
  </node>

  <node name="controls_scaling" pkg="mtracker" type="controls_scaling" respawn="false" required="true" output="screen">
    <param name="max_wheel_rate" value="6.0"/>
  </node>

  <node name="simulator" pkg="mtracker" type="simulator" respawn="false" required="true" output="screen">
    <param name="time_constant" value="0.1"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" respawn="false" required="true" output="screen" args="-d $(find mtracker)/resources/mtracker.rviz"/>
</launch>
